@import '../base/_variables.scss';

.p404{
  text-align: center;

  &__image{
    background: url("/static/images/404image2.jpg");
    height: 25vh;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
}
