// Variables

// Color
$dark-color: #343237;
$light-color: #fdfdfd;
$primary-color: #facd12;
$mild-color: #d9d7d0;
$mid-color: #595f6e;
$accent-color: #0069b6;

// Typography
$body-font: "Noto Sans", sans-serif;
$headline-font: "Fjalla One", sans-serif;

// Padding
$main-padding: 1rem;
